//===========================================================
//ブログ
//===========================================================
.container-blog{
  background: #ddd;
}
.p-category {
  position: relative;
  // margin-bottom: 120px;
  width: 100%;
  padding-top: 80px;
  background: #ddd;
  @include mq(ls){
    width: 100%;
  }
  @include mq(md){

    background:none;
  }
  @include mq(){
    padding-top: 0;
    background:none;
  }
  &_list {
    width: 75%;
    float: left;
    padding: 45px 30px;
    @include mq(md){
      width: 100%;
      float: none;
      position: relative;
    }
    @include mq(md){

      background: #ddd;
    }
    @include mq(){

    }
  }
  &_panel {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    &-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .4s;
      &.zoomup{
        transition: .4s;
        transform: scale(1.1);
        filter: grayscale(70%);
      }
    }
    &Img {
      display: block;
      width: 100%;
      height: 420px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      text-decoration: none;
      overflow: hidden;
      transition: .4s;
     
      @include mq(){
        height: 300px;
        background-size: cover;
      }
    }
    &Title {
      width: 100%;
      position: absolute;
      top: 70px;
      color: #fff;
      font-family: $main-font;
      padding: 5px 16px;
      @include mq(ls){
        top: 350px;
      }
      @include mq(md){
        top: 350px;
      }
      @include mq(){
        top: 250px;
      }
    }
    &Text {
      padding: 16px 14px;
      background: rgba(235, 232, 232, 0.8);
      p {
        color: #000;
        line-height: 3rem;
        font-family: $main-font;
        @include mq(){
          line-height: 2rem;
        }
      }
    }
  }
  &_label {
    background: rgb(9, 127, 224);
    &Text {
      li {
        display: inline-block;
        color: #fff;
        padding: 10px;
      }
    }
  }
}

.p-sidebar {
  width: 25%;
  padding: 20px 16px;
  float: right;
  background: #333;

  @include mq(ls){
    width: 100%;
    float: none;
  }
  @include mq(md){
    background: #333;
  }
  @include mq(){
    background: #333;
  }
  &_list {
    text-decoration: none;
    display: flex;
    margin-top: 12px;
    transition: .3s;
    &:hover{
      transition: .3s;
      background: rgba(235, 232, 232, 0.4);
    }
    &Img {
      width: 30%;
      height: 100%;
    }
  }
  &_img {
    width: 100%;
    height: 200px;
    @include mq(md){
      height: 300px;
    }
  }
  &_title {
    color: #fff;
    line-height: 3rem;
  }
  //最新情報
  &_new {
    list-style: none;
    &Item {
      width: 100%;
      max-height: 150px;
      margin-bottom: 20px;
      overflow: hidden;
      @include mq(ls){
        max-height: none;
      }
    }
    &Text {
      width: 70%;
      color: #fff;
      padding: 5px 7px;
      font-size: 12px;
      @include mq(ls){
        font-size: 28px;
        padding: 36px 16px;
      }
      @include mq(){
        font-size: 12px;
        padding: 12px 8px;
      }
      p{
        @include mq(){
          margin-bottom: 10px;
        }
      }
    }
  }
  //アーカイブ
  &_arcive {
    width: 100%;
    margin-bottom: 24px;
    &List {
      display: none;
    }
    &Select {
      background: #333;
      border: 1px solid #fff;
      text-align: center;
      color: #fff;
      padding: 10px 15px;
      cursor: pointer;
      @include mq(ls){
        padding: 18px 15px;
      }
    }
    &List {
      background: #333;
      border: 1px solid #fff;
      border-top: none;
      text-align: center;
      text-decoration: none;
      a {
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        color: #fff;
        &:hover {
          background: rgb(9, 127, 224);
          transition: 0.3s;
        }
      }
    }
    ul {
      list-style: none;
    }
  }
  //カテゴリー
  &_cat {
    margin-bottom: 24px;
    ul {
      list-style: none;
      li {
        border: 1px solid #fff;
        background: #333;
        text-align: center;
        &:hover {
          background: rgb(9, 127, 224);
          transition: 0.3s;
        }
        a {
          padding: 10px 15px;
          text-decoration: none;
          color: #fff;
          display: block;
          box-sizing: border-box;
        }
      }
    }
  }
}

.after{
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -999;
  background-repeat: no-repeat;

}
//===========================================================
//BEMで書いたVer
//===========================================================

.sidebar__item {
  list-style: none;
  width: 100%;
}
.sidebar__list {
  border: 1px #000 solid;
  padding: 10px 10px;
  margin-bottom: 14px;
  background: rgba(82, 81, 81, 0.5);
  transition: .3s;
  &:hover{
    transition: .3s;
    opacity: .6;
  }
}
.sidebar__link {
  color: #fff;
  text-decoration: none;
}
.sidebar__text {
  color: #fff;
  font-size: 14px;
  @include mq(ls){
    font-size: 22px;
  }
  @include mq(){
    font-size: 16px;
  }
}
.sidebar__metaItem {
  list-style: none;
  width: 100%;
}
.sidebar__metaList {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding: 16px 10px;
  @include mq(ls){
    font-size: 24px;
  }
  @include mq(){
    font-size: 16px;
    padding: 7px 10px;
  }
}
.sidebar__icon {
  display: inline;
  vertical-align: sub;
  width: 16px;
  &--search {
    vertical-align: baseline;
  }
  &--card {
    vertical-align: baseline;
  }
}

.sidebar__form {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  padding: 10px 8px 10px 14px;
}


//infomation一覧=======================================
.info-container {
  width: 100%;
  background: #ddd;
  margin: auto;
  height: auto;
  padding: 10px 24px;
  min-height: 820px;
}

.info-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 46%;
  overflow: hidden;
  text-decoration: none;
  background: #fff;
  color: #333;
  margin-bottom: 16px;
  height: 135px;
  @include mq(md){
    width: 49%;
  }
  @include mq(){
    width: 100%;
    height: 90px;
  }
  &__wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(ls) {
      width: 90%;
    }
    @include mq(md) {
      width: 100%;
    }
  }
}
.info-thumbnail {
  width: 40%;
  height: 100%;
  overflow: hidden;
 
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    &.zoomup {
      transition: 0.3s;
      transform: scale(1.1);
    }
  }
}

.info-content {
  padding: 16px 10px 5px 10px;
  width: 60%;
  p {
    text-align: left;
    @include mq(){
      font-size: 13px;
    }
  }
  span {
    display: block;
    text-align: left;
    margin-top: 12px;
    @include mq(){
      font-size: 11px;
      margin-top: 0;
    }
  }
}
