/* Contact Form7 */
.single-blog{
  margin-bottom: 32px;
  padding:  0 12px;
}
.wpcf7-form{
  p{
    text-align: center;
  }
  input[type="text"]{
    padding: 10px;
    width: 60%;
    @include mq(){
      width: 100%;
    }
  }
  input[type="email"]{
    padding: 10px;
    width: 60%;
    @include mq(){
      width: 100%;
    }
  }
  input[type="tel"]{
    padding: 10px;
    width: 60%;
    @include mq(){
      width: 100%;
    }
  }
  textarea{
    width: 60%;
    @include mq(){
      width: 100%;
    }
  }
}

 .contact-form{
  
   padding: 200px 24px 40px 24px;
   @include mq(ls){
     height: 100vh;
   }
   @include mq(md){
     height: auto;
   }
 }
.contact7 {
	max-width: 100%;
	box-sizing: border-box;
  padding: 140px 20px;
 
  @include mq(){
    padding: 60px 10px;
  }
}
.contact7 dd {
	margin: 0 0 30px 0;

}
.contact7 dt {
	font-weight: normal;
  @include mq(){

    margin-bottom: 10px;
  }
}
 
/* 必須マーク */
.contact7 .must {
	background: #FF1A00;
}
 
/* 任意マーク */
.contact7 .optional {
	background: #999;
}
 
.contact7 .must,
.contact7 .optional {
	color: #FFF;
	border-radius: 3px;
	font-size: 10px;
	margin-left: 10px;
	padding: 5px 10px;
	letter-spacing: 2px;
}
.btn_contact7 {
	text-align: center;
}
.btn_contact7 input {
	width: 70%;
	background-color: #003a55;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	border: 1px solid #003a55;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;	
  @include mq(){
    margin-bottom: 24px;
  }
}
.btn_contact7 input:hover {
	background-color: #FFF;
	color: #003a55; 
}

//スマホ横むき
@media (orientation: landscape) and (max-width: 768px){
  .contact7 dt {
    float: left;
    clear: left;
    width: 35%;
    padding: 5px 10px 5px 0;
    }
  .contact7 dd {
    margin-left: 35%;
  
    }
  
  
  
   
  .btn_contact7 input {
    width: 70%;
    background-color: #003a55;
    color: #FFF;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    border: 1px solid #003a55;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;	
    margin-bottom: 24px;
  }
  .btn_contact7 input:hover {
    background-color: #FFF;
    color: #003a55; 
  }
  }

@media screen and (min-width: 768px) {
.contact7 dt {
	float: left;
	clear: left;
	width: 35%;
	padding: 5px 10px 5px 0;
	}
.contact7 dd {
	margin-left: 35%;

	}



 
.btn_contact7 input {
	width: 70%;
	background-color: #003a55;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	border: 1px solid #005513;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;	
  margin-bottom: 24px;
}
.btn_contact7 input:hover {
	background-color: #FFF;
	color: #003a55; 
}
}

.wpcf7-response-output {
  text-align: center;
  position: fixed;
  width: 90%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: #fff;
  padding: 12px!important;
  margin: 0!important;
}

.contact-top{
  width: 100%;
  text-align: center;

  h2{
    color: #b59da1;
    font-family: $font-family;
    letter-spacing: 2px;
    line-height: 3rem;
    font-size: 42px;
    margin-bottom: 24px;
  }
  p{
    color: #b59da1;
    font-family: $font-family;
  }
}

 .privacy{
   margin: 40px auto;
   padding: 24px 10px;
   width: 80%;
   p{
     font-family: $font-family;
     color: #b59da1;
    }
    h1{

      font-family: $font-family;
      color: #b59da1;
    }
    h2{
     font-family: $font-family;
     color: #b59da1;

   }
 }

 .map-wraper{
  display: none;
  @include mq(){
   display: block;
    position: fixed;
    bottom: 10%;
    left: 40%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    opacity: 0;
  }
  
}

.thumbnail-contact{
  width: 100%;
  height: 380px;
  overflow: hidden;
  margin-bottom: 24px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

  }
}